body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chatbox {
    width: 98%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 700px;
    max-height: 700px;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: 400px;
}

#chatbox p {
    color: #0011ff;
    font-size: 14px;
    font-family: cursive;
}

#inputBox {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input[type="text"] {
    height: 50px;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0011a2;
}